{% extends 'base.html.twig' %}

{% block title %} Symfony Blog {% endblock %}

{% block body %}

    {% if posts %}
      <table id="posts" class="table table-striped"> 
        <thead>
          <tr>
            <th>Post Title</th>  
            <th>Actions</th>  
          </tr>
        </thead>   
        <tbody>
          {% for post in posts %}
            <tr>
              <td>{{ post.title }}</td>
              <td>
                <a href="/post/{{ post.id }}" class="btn btn-dark">Show</a>
                <a href="/post/edit/{{ post.id }}" class="btn btn-light">Edit</a>
                <a href="#" class="btn btn-danger delete-post"
                 data-id="{{ post.id }}">Delete</a>
              </td>
            <tr>
          {% endfor %}
        </tbody>          
      </table>
    {% else %}
        <p> No Posts To Display </p>
    {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}
