{% extends 'base.html.twig' %}

{% block title %} Symfony Blog {% endblock %}

{% block body %}

    <h1>{{ post.title }}</h1>  
    <p>{{ post.body }}</p> 
    <hr>
    <a href="/">Go Back</a>

{% endblock %}

